<!--
  Generated template for the PackTypedetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
      <span style="text-align: center; margin-left: 25%; font-size: 1.4rem; font-family:Thonburi;">BOOKING</span>
  </ion-navbar> -->
  <ion-row style="margin-top: 10px;background-color: white;">
      <ion-col col-3>
          <!-- <ion-icon name="md-menu" style="margin-left:10px; transform:scale(2, 2); margin-top: 5px;" (click)="click_menu_button();"></ion-icon> -->
          <img src="assets/img/back.png" class="back_style" (click)="goto_back()"/>
      </ion-col>
      <ion-col col-9>
          <span class="fontsize_mid1 header_style">PACKAGE</span>
      </ion-col>
  </ion-row>

</ion-header>


<ion-content padding>
    <ion-row style="margin-top:10%; margin-left:5%;">
        <img src="assets/img/close.png" class="png_style1" (click)="goto_back()"/>
    </ion-row>
    <ion-row style="margin-top:10%;">
        <p class="fontsize_big2 p_style" style="font-size:1.8rem;">Chiang Mai Package Tours</p>
        <p class="fontsize_big2 p_style" style="font-size:1.8rem;">Expoler</p>
        <p class="fontsize_mid2 p_style" style="margin-top:0%;">Adventure Package</p>
        <p class="fontsize_mid2 p_style" style="margin-top:0%;">Sampran / Thailand</p>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="width:30%; margin-top:5%;">
            Full Package
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:65%;"></span>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <ion-col col-10>
            <img src="assets/img/hot_cup.png" class="icon_style" style=" height: 100%; margin-top: -3%; margin-left: 1%;"/>
            <span class="fontsize_small2" style="width:80%;">1 snack / drink/ equipment</span>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col col-10>
            <img src="assets/img/user.png" class="icon_style" style="margin-top: 0%; height: 100%;"/>
            <span class="fontsize_small2" style="width:80%;">group size up to 10 quests</span>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-10>
            <img src="assets/img/pay_icon.png" class="icon_style"/>
            <p class="fontsize_small1" style="width:80%;">Paynothing until Sep 4, 2017</p>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12>
            <img src="assets/img/reload_icon.png" class="icon_style"/>
            <p class="fontsize_small1" style="width:80%;">Free cancellation before Sep 4 2017</p>
        </ion-col>
    </ion-row> 

    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="width:32%; margin-top:5%;">
          Deluxe Room
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:60%;"></span>
    </ion-row>

    <ion-row style="margin-top:10%; font-size:1.4rem;">
        <ion-row style="width:20%; margin-left:10%;">
            <img src="assets/img/home.png" class="hotel_icon"/>
            <ion-row class="fontsize_mid1" style="text-align:center; padding-left: 20%; margin-top:20%;">resort</ion-row>
        </ion-row>

        <ion-row style="width:22%; margin-left:10%;">
            <img src="assets/img/car.png" class="hotel_icon"/>
            <ion-row class="fontsize_mid1" style="text-align:center; margin-top:20%;">double bed</ion-row>
        </ion-row>

        <ion-row style="width:20%; margin-left:10%;">
            <img src="assets/img/user1.png" class="hotel_icon"/>
            <ion-row class="fontsize_mid1" style="text-align:center; margin-top:20%;">2 person</ion-row>
        </ion-row>
    </ion-row>

    <ion-row style="margin-top:10%;">
        <ion-row class="fontsize_mid2" style="width:80%; margin-left:20%;">resort 1 bedroom / 1 toilet
            <br/> Sea view
        </ion-row>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="width:20%; margin-top:5%;">
            Facilities
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:75%;"></span>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <ion-col col-4 style="margin-left:19%;">
            <p class="fontsize_mid2">Free Wi-fi</p>
            <p class="fontsize_mid2">Air Condition</p>
            <p class="fontsize_mid2">Led Cable TV</p>
            <p class="fontsize_mid2">Sofa bed</p>
        </ion-col>

        <ion-col col-4 style="margin-left:5%;">
            <p class="fontsize_mid2">Parking Area</p>
            <p class="fontsize_mid2">Swimming Pool</p>
            <p class="fontsize_mid2">Kitchen</p>
        </ion-col>
    </ion-row>


    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="font-size:1.5rem; width:25%; margin-top:5%;">
            Amenities
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:70%;"></span>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <ion-col col-4 style="margin-left:19%;">
            <p class="fontsize_mid2">Shampoo</p>
            <p class="fontsize_mid2">Hangers</p>
            <p class="fontsize_mid2">Hair Dryer</p>
        </ion-col>

        <ion-col col-4 style="margin-left:5%;">
            <p class="fontsize_mid2">Essentials</p>
            <p class="fontsize_mid2">Iron</p>
            <p class="fontsize_mid2">Bathtub</p>
        </ion-col>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="width:25%; margin-top:5%; font-size:1.8rem;">
          Itinerary
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:70%;"></span>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_mid2">
            Visitors can experience sustainable way of life in our Thai Village through various workshops.
        </span>
        <ul style="margin-left: -5%;" class="fontsize_mid2">
            <li>Silk processing</li>
            <li>Thai music and dance</li>
            <li>Garland making</li>
            <li>Vegetable carving</li>
            <li>Traditional pottery</li>
            <li>Thai kitchen</li>
            <li>Rice farming</li>
            <li>Umbrella painting</li>
            <li>Traditional weaving</li>
            <li>Bamboo dancing</li>
            <li>Thai martial arts</li>
            <li>Herbal pavilion</li>
            <li>Traditional photo studio</li>
        </ul>  

        <span class="fontsize_mid2" style="margin-top:5%;">
            At 11.00 hrs. join out village celebration which starts with drums ensemble, followed by a folk dance,sword fighting, bamboo dancing and a ramwong dance finale.
        </span>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="width:25%; margin-top:5%; font-size:1.8rem;">
          Inclusion
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:70%;"></span>
    </ion-row>
    
    <ion-row> 
        <ul style="margin-left: -5%;" class="fontsize_mid2">
            <li>Entrance fee</li>
            <li>Thai art and craft workshops at</li>
            <li>the Thai Village</li>
            <li>3 take home self-made crafts from the</li>
            <li>pottery, weaving and garland stations.</li>
            <li>Village Celebration Cultrual Performance</li>
        </ul>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="width:25%; margin-top:5%; font-size:1.8rem;">
          Exclusion
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:70%;"></span>
    </ion-row>
    
    <ion-row> 
        <ul style="margin-left: -5%;" class="fontsize_mid2">
            <li>Transportation</li>
            <li>Meals</li>
        </ul>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="width:25%; margin-top:5%; font-size:1.8rem;">
          Gallery                   
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:70%;"></span>
    </ion-row>

    <ion-row style=" margin-top:3%;">
        <ion-slides autoplay="3000" loop="true" speed="1000">
            <ion-slide>
                <ion-row>
                    <ion-row style="width:32%; margin-left:0.5%; margin-right:0.5%; position:relative;" *ngFor = "let list of image_list" (click)="goto_gallery()">
                        <ion-row style="position: relative; height:160px;">
                            <img src="assets/img/{{list}}.png" style="width:100%; position:absolute;"/>
                            <ion-row style="height:20px; margin-top: 5px; position:absolute;">
                                <ion-icon name="md-heart" class="heart_icon"></ion-icon>
                            </ion-row>
                        </ion-row>
                    </ion-row>
                </ion-row>
            </ion-slide>
        </ion-slides>
    </ion-row>

    <ion-row style="margin-top:1%;">
        <ion-slides autoplay="3000" loop="true" speed="1000">
            <ion-slide>
                <ion-row>
                    <ion-row style="width:32%; margin-left:0.5%; margin-right:0.5%; position:relative;" *ngFor = "let list of image_list" (click)="goto_gallery()">
                        <ion-row style="position: relative; height:160px;">
                            <img src="assets/img/{{list}}.png" style="width:100%; position:absolute;"/>
                            <ion-row style="height:20px; margin-top: 5px; position:absolute;">
                                <ion-icon name="md-heart" class="heart_icon"></ion-icon>
                            </ion-row>
                        </ion-row>
                    </ion-row>
                </ion-row>
            </ion-slide>
        </ion-slides>
    </ion-row>


    <button ion-button class="book_button_style2" (click)="goto_pack_confirm()">book now</button>

</ion-content>

<ion-footer style="background-color:white; width:100%; height:40px;">
    <ion-row style="margin-top:4%;">
        <ion-row style="width:20%; float:left; margin-left: 5%;">
            <!-- <ion-icon name="ios-home-outline" class="bottom_icon" (click)="goto_homepage()"></ion-icon> -->
            <img src="assets/img/home.png" class="home_icon" (click)="goto_homepage()"/>
        </ion-row>
        
        <ion-row style="width:20%; float:left;">
            <!-- <ion-icon name="ios-search-outline" class="bottom_icon" (click)="click_search_button()"></ion-icon> -->
            <img src="assets/img/search.png" class="search_icon" (click)="click_search_button()"/>
        </ion-row>
        
        <ion-row style="width:20%; float:left;">
            <!-- <ion-icon name="ios-notifications-outline" class="bottom_icon" (click)="click_notification_button()"></ion-icon> -->
            <img src="assets/img/noti.png" class="alert_icon" (click)="click_notification_button()"/>
        </ion-row>
        
        <ion-row style="width:20%; float:left;">
            <!-- <ion-icon name="ios-settings-outline" class="bottom_icon" (click)="click_account_button()"></ion-icon> -->
            <img src="assets/img/setting.png" class="setting_icon" (click)="click_account_button()"/>
        </ion-row>
    </ion-row>
</ion-footer>
