page-exp-confirm {
    .text_border{
        border:1px solid #dde2e9;
        border-radius: 20px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    .book_button_style{
        width: 60%;
        margin-left: 20%;
        background-color: white;
        border: 1px solid #4c4c4e;
        border-radius: 25px;
        color: #4c4c4e;
        text-transform: uppercase;
        font-size:1.8rem;
        margin-top: 10%;
        font-family: Helvetica;
    }

}
