<ion-header>
  <!-- <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar> -->

  <ion-row>
      <ion-col col-3>
          <button ion-button menuToggle style="background-color:white; color:black;">
            <ion-icon name="menu" style="margin-left:10px; transform:scale(2, 2); margin-top: 5px;"></ion-icon>
          </button>
          <!-- <ion-icon name="md-menu" style="margin-left:10px; transform:scale(2, 2); margin-top: 5px;" menuToggle (click)="click_menu_button();"></ion-icon> -->
      </ion-col>
      <ion-col col-9>
          <span style="text-align: center; margin-left: 20%; font-size: 1.9rem;">FEED</span>
      </ion-col>
    </ion-row>

</ion-header>

<ion-content>
  <!-- <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
