page-mybooking-detail {
    .png_style{
        width: 10%;
        height: 100%;
        margin-top: 0%;
        margin-left: -5%;
        margin-right: 5%;
    }
    .row_top{
        margin-top: 5%;
    }

}
