// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.fontsize_big2 {
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    font-family: Helvetica;
    color: #4C4C4E;
}

.fontsize_big {
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    font-family: PingFang FC;
    color: #4C4C4E;
}

.fontsize_big1 {
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    font-family: Thonburi;
    color: #4C4C4E;
}

.fontsize_mid2 {
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    font-family: Helvetica;
    color: #4C4C4E;
}

.fontsize_mid1 {
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    font-family: Thonburi;
    color: #4C4C4E;
}

.fontsize_mid {
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    font-family: PingFang FC;
    color: #4C4C4E;
}

.fontsize_small2 {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    font-family: Helvetica;
    color: #4C4C4E;
}

.fontsize_small1 {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    font-family: Thonburi;
    color: #4C4C4E;
}

.fontsize_small {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    font-family: PingFang FC;
    color: #4C4C4E;
}

.row_height {
    margin-top: 10px;
}

.background_set {
    // height: 195px;
    border-radius: 5px;
    position: relative;
}

.fix_icon {
    width: 25px;
    height: 25px;
    margin-left: 15%;
}

.undo_icon {
    width: 25px;
    height: 25px;
}

.heart_icon {
    color: white;
    width: 20%;
    float: right;
    text-align: right;
    margin-left: auto;
    margin-top: 5%;
    margin-right: 10px;
}

.book_button_style1 {
    width: 60%;
    margin-left: 20%;
    background-color: white;
    border: 1px solid #8f8f91;
    border-radius: 25px;
    color: #4C4C4E;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 10%;
    font-family: Thonburi;
}

.icon_style {
    width: 10%;
    float: left;
    margin-top: 4%;
    height: 100%;
    margin-right: 3%;
}

ion-row {
    width: 100%;
}

.image_style {
    position: relative;
    width: 100%;
}

.homepage_part {
    margin-top: 20px;
}

.row_height1 {
    margin-top: 25px;
}

.bottom_icon {
    margin-left: auto;
    transform: scale(2, 2);
}

.png_style {
    width: 20%;
    height: 100%;
    margin-top: -6%;
    margin-left: 5%;
    margin-right: 5%;
}

.row_border {
    border-bottom: 1px solid #8f8f91;
    width: 100%;
    margin-top: 5%;
}

.p_style {
    margin-top: -5%;
}

ion-select {
    border: 1px solid #8f8f91;
    border-radius: 20px;
    max-width: 100%;
}

.book_button_style2 {
    width: 60%;
    margin-left: 20%;
    background-color: white;
    border: 1px solid #8f8f91;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: 10%;
    font-family: Helvetica;
    color: #4C4C4E;
}

.text_border {
    border: 1px solid #dde2e9;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.png_style1 {
    width: 10%;
    height: 100%;
    margin-top: 0%;
    margin-left: -5%;
    margin-right: 5%;
}

.home_icon {
    margin-left: auto;
    margin-top: -10%;
    margin-bottom: 10%;
    height: 26px;
}

.search_icon {
    margin-left: auto;
    margin-top: -10%;
    height: 26px;
}

.alert_icon {
    margin-left: auto;
    margin-top: -10%;
    height: 26px;
}

.setting_icon {
    margin-left: auto;
    margin-top: -10%;
    height: 26px;
}

.menu_style {
    margin-right: auto;
    margin-left: 5%;
}

.back_style {
    margin-right: auto;
    margin-left: 5%;
    height: 70%;
}

.heart_icon1 {
    color: white;
    width: 20%;
    float: right;
    text-align: right;
    margin-left: 85%;
    margin-top: 15%; // margin-right: 5%;
    position: absolute;
}

.header_style {
    text-align: center;
    margin-left: 15%;
}

.hotel_icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.small_image {
    width: 100%;
    position: absolute;
    height: 100%;
}

.warning_style {
    width: 100%;
    text-align: center;
    margin-top: -2%;
    margin-bottom: -2%;
    color: red;
}