<!--
  Generated template for the PackInformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
      <span style="text-align: center; margin-left: 25%; font-size: 1.4rem; font-family:Thonburi;">PACKAGE</span>
  </ion-navbar> -->
  <ion-row style="margin-top: 10px;background-color: white;">
      <ion-col col-3>
          <!-- <ion-icon name="md-menu" style="margin-left:10px; transform:scale(2, 2); margin-top: 5px;" (click)="click_menu_button();"></ion-icon> -->
          <img src="assets/img/back.png" class="back_style" (click)="goto_back()"/>
      </ion-col>
      <ion-col col-9>
          <span class="fontsize_mid1 header_style">PACKAGE</span>
      </ion-col>
  </ion-row>

</ion-header>


<ion-content padding>
    <ion-row style="margin-top:5%;">
        <ion-col col-6>
            <ion-row style="margin-top:15%;">
                <p class="fontsize_big2 p_style" style="font-size:1.8rem;">Chiang Mai Package Tours</p>
                <p class="fontsize_big2 p_style" style="font-size:1.8rem;">Expoler</p>
                <p class="fontsize_mid2 p_style" style="margin-top:0%;">Adventure Package</p>
                <p class="fontsize_mid2 p_style" style="margin-top:0%;">Sampran / Thailand</p>
            </ion-row> 
        </ion-col>

        <ion-col col-6>
            <img src="assets/img/gps1.png" style="margin-top:10%; float:right;" (click)="goto_map()"/>
            <span class="fontsize_small2" style="text-align:right; float: right; margin-top: 13%;">THB 2,450.00</span>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-6>
            <ion-row style="margin-bottom:10%;" class="row_height">
                <span class="fontsize_small2" style="width:20%; color:#aaaaaa">+ 194</span>
                <ion-icon name="md-heart" style="width:60%; text-align:left; float:left; color:#aaaaaa;"></ion-icon>
            </ion-row>
        </ion-col>
        <ion-col col-6>
            <img src="assets/img/Watch.png" style="margin-top: 10%; margin-left: 10%;"/>
            <span class="fontsize_mid2" style="width:70%; margin-left: 3%; margin-top: 13%; float:right; text-align:right;">3 days / 2 nights</span>
        </ion-col>
    </ion-row>
      
    <ion-row class="image_style" >
        <ion-row style="position:relative; height: 185px;">
            <ion-row style="position: relative;">
                <img src="assets/img/2.png" style="width:100%; position:absolute;"/>
                <ion-row  style="height:25px; margin-top: 15px; position:absolute;">
                    <span style="width:10%; height:100%; float:right; margin-left: auto;">
                        <img src="assets/img/fix.png" class="fix_icon">
                    </span>
                    <span style="width:10%; height:100%; float:right;">
                        <img src="assets/img/undo.png" class="undo_icon">
                    </span>
                </ion-row>
            </ion-row>
        </ion-row>

        <ion-row style="margin-top:0%;">
            <ion-col col-4>
                <img src="assets/img/hei1.png" style="width:100%; height:100%"/>
            </ion-col>

            <ion-col col-4>
                <img src="assets/img/hei2.png" style="width:100%; height:100%"/>
                </ion-col>

            <ion-col col-4>
                <img src="assets/img/hei3.png" style="width:100%; height:100%"/>
            </ion-col>
        </ion-row>
    </ion-row>


    <ion-row class="row_height">
        <span class="fontsize_mid2">Chiang Dao Cave, Karen Long Neck, Hill tribes, Akha hill tribe village, Doi Mae Saling, Doi Suthep</span>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="width:25%; margin-top:5%; font-size:1.8rem;">
          Itinerary
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:70%;"></span>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_mid2" style="margin-top:5%;">
            day 1 - Chiang Dao Cave + Mea Sa Elephant show with Lunch.<br/><br/>
            Amanzi island Lodge operates like a privete luxury home.Guests have access to full kitchen, dining and living areas exuding a sense of home-away-from-home.
            The fridge if stocked
        </span>

        <span class="fontsize_mid2" style="margin-top:5%;">
          Overnight at Chiang Mai Private Vill / Lunch
        </span>

        <span class="fontsize_mid2" style="margin-top:5%;">
            Day 2 -Akha hill tribe village + The very end of thai + Burmese Border Thaton with lunch + Long Neck Village at Yapa.
        </span>

        <span class="fontsize_mid2" style="margin-top:5%;">
            Amanzi island Lodge operates like a private luxury home.Guests have access to full kitchen, dining and living areas exuding a sense of home-away-from-home. The fridge is stocked.
        </span>

        <span class="fontsize_mid2" style="margin-top:5%;">
            Overnight at Chiang Mai Private Vill / Breakfast
        </span>

        <span class="fontsize_mid2" style="margin-top:5%;">
            Day 3 -Depart Bangkok
        </span>

        <span class="fontsize_mid2" style="margin-top:5%;">
            Amanzi island Lodge operates like a private luxury home.Guests have access to full kitchen, dining and living areas exuding a sense of home-away-from-home. The fidege is stocked.
        </span>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="width:25%; margin-top:5%; font-size:1.8rem;">
          Inclusion
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:70%;"></span>
    </ion-row>
    
    <ion-row style="margin-top:5%;"> 
        <ul style="margin-left: -5%;" class="fontsize_mid2">
            <li>Entrance fee</li>
            <li>Thai art and craft workshops at</li>
            <li>the Thai Village</li>
            <li>3 take home self-made crafts from the</li>
            <li>pottery, weaving and garland stations.</li>
            <li>Village Celebration Cultrual Performance</li>
        </ul>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="width:25%; margin-top:5%; font-size:1.8rem;">
          Exclusion
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:70%;"></span>
    </ion-row>
    
    <ion-row> 
        <ul style="margin-left: -5%;" class="fontsize_mid2">
            <li>Transportation</li>
            <li>Meals</li>
        </ul>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <span class="fontsize_big2" style="width:25%; margin-top:5%; font-size:1.8rem;">
          Gallery                   
        </span>
        <span style="border-bottom: 1px solid #dbdbdb; width:70%;"></span>
    </ion-row>

    <ion-row style="margin-top:5%;">
        <ion-slides autoplay="3000" loop="true" speed="1000">
            <ion-slide>
                <ion-row>
                    <ion-row style="width:32%; margin-left:0.5%; margin-right:0.5%; position:relative;" *ngFor = "let list of image_list" (click)="goto_gallery()">
                        <ion-row style="position: relative; height:160px;">
                            <img src="assets/img/{{list}}.png" style="width:100%; position:absolute;"/>
                            <ion-row style="height:20px; margin-top: 5px; position:absolute;">
                                <ion-icon name="md-heart" class="heart_icon"></ion-icon>
                            </ion-row>
                        </ion-row>
                    </ion-row>
                </ion-row>
            </ion-slide>
        </ion-slides>
    </ion-row>

    <ion-row style="margin-top:1%;">
        <ion-slides autoplay="3000" loop="true" speed="1000">
            <ion-slide>
                <ion-row>
                    <ion-row style="width:32%; margin-left:0.5%; margin-right:0.5%; position:relative;" *ngFor = "let list of image_list" (click)="goto_gallery()">
                        <ion-row style="position: relative; height:160px;">
                            <img src="assets/img/{{list}}.png" style="width:100%; position:absolute;"/>
                            <ion-row style="height:20px; margin-top: 5px; position:absolute;">
                                <ion-icon name="md-heart" class="heart_icon"></ion-icon>
                            </ion-row>
                        </ion-row>
                    </ion-row>
                </ion-row>
            </ion-slide>
        </ion-slides>
    </ion-row>

    <button ion-button class="book_button_style" (click)="goto_pack_checkin()">book now</button>

</ion-content>

<ion-footer style="background-color:white; width:100%; height:40px;">
    <ion-row style="margin-top:4%;">
        <ion-row style="width:20%; float:left; margin-left: 5%;">
            <!-- <ion-icon name="ios-home-outline" class="bottom_icon" (click)="goto_homepage()"></ion-icon> -->
            <img src="assets/img/home.png" class="home_icon" (click)="goto_homepage()"/>
        </ion-row>
        
        <ion-row style="width:20%; float:left;">
            <!-- <ion-icon name="ios-search-outline" class="bottom_icon" (click)="click_search_button()"></ion-icon> -->
            <img src="assets/img/search.png" class="search_icon" (click)="click_search_button()"/>
        </ion-row>
        
        <ion-row style="width:20%; float:left;">
            <!-- <ion-icon name="ios-notifications-outline" class="bottom_icon" (click)="click_notification_button()"></ion-icon> -->
            <img src="assets/img/noti.png" class="alert_icon" (click)="click_notification_button()"/>
        </ion-row>
        
        <ion-row style="width:20%; float:left;">
            <!-- <ion-icon name="ios-settings-outline" class="bottom_icon" (click)="click_account_button()"></ion-icon> -->
            <img src="assets/img/setting.png" class="setting_icon" (click)="click_account_button()"/>
        </ion-row>
    </ion-row>
</ion-footer>