page-pack-checkin {
    .book_button_style{
        width: 60%;
        margin-left: 20%;
        background-color: white;
        border: 1px solid #8f8f91;
        border-radius: 25px;
        color: #8f8f91;
        text-transform: uppercase;
        font-size:1.8rem;
        margin-top: 10%;
        font-family: Helvetica;
    }
    .png_style{
        width: 10%;
        height: 100%;
        margin-top: 0%;
        margin-left: -5%;
        margin-right: 5%;
    }

}
